<div style="display: flex; justify-content: space-between;">
    <ul>
        <li (click)="changeUrl('/assets/test291123a3_assets/test291123a3/test291123a3/index.html', 'all')">All</li>
        <li
            (click)="changeUrl('/assets/test291123a3_assets/test291123a3_300x600/test291123a3_300x600/index.html', '300x600')">
            300x600</li>
        <li
            (click)="changeUrl('/assets/test291123a3_assets/test291123a3_320x50/test291123a3_320x50/index.html','320x50')">
            320x50</li>
    </ul>
    <!-- <button (click)="setG()">All</button> -->

    <input type="file" (change)="changeImage($event)">

    <div>
        @for (el of data; track $index) {
        @if (el.size == type) {
        <div>
            <label>{{el.label}}</label>

            <input type="text" [value]="el.value" [(ngModel)]="el.value" (ngModelChange)="changeTxt(el)">
            <input id="style1" type="color" [value]="el.color" [(ngModel)]="el.color" (ngModelChange)="changeColor(el)">
            <input type="number" [value]="el.fontSize" [(ngModel)]="el.fontSize" (ngModelChange)="changeFontSize(el)">


            <!-- <img [src]="el.pic || output?.base64" [(ngModel)]="el.pic" (click)="cropImage(el.pic)" alt="">-->


        </div>
        }
        }


    </div>
    <iframe width="300" height="600" [src]="sanitizedURL" #myIframe (load)="onIframeLoad(myIframe)"></iframe>
</div>