
<div style="border: 1px solid black;" #dis></div>

    <!-- <div *ngFor="let template of templates; let i = index"  [id]="i" [innerHTML]="template" style="display: none;"></div> -->

<!-- <div style="width: 200px; height: 400px; background-color: black;" #myElement></div> -->
<div style="display: flex; justify-content: space-between;">
    <!-- <button (click)="showData()">get fields</button> -->

    <!-- <ul>
        <button (click)="getOne()">get fields</button>
        <li (click)="changeUrl('/assets/test291123a3_assets/test291123a3/test291123a3/index.html', 'all')">All</li>
        <li
            (click)="changeUrl('/assets/test291123a3_assets/test291123a3_300x600/test291123a3_300x600/index.html', '300x600')">
            300x600</li>
        <li
            (click)="changeUrl('/assets/test291123a3_assets/test291123a3_320x50/test291123a3_320x50/index.html','320x50')">
            320x50</li>
    </ul> -->
    <!-- <button (click)="setG()">All</button> -->

    <input type="file" (change)="changeImage($event)">
    


    <div id="fields">
        @for (el of editableFields()[1]; track $index) {
        <div>
            <label>{{el.htmlTxt}}</label>
            <input type="text" [value]="el.value" [(ngModel)]="el.value" (ngModelChange)="changeTxt(el)">
            <input id="style1" type="color" [value]="el.color" [(ngModel)]="el.color" (ngModelChange)="changeColor(el)">
            <input type="number" [value]="el.fontSize" [(ngModel)]="el.fontSize" (ngModelChange)="changeFontSize(el)">


            <!-- <img [src]="el.pic || output?.base64" [(ngModel)]="el.pic" (click)="cropImage(el.pic)" alt="">-->


        </div>
        }


    </div>
   
</div> <div style="border: 1px solid black;" #htmlContainer></div>
