/* *{
    text-align:  ;
} */
/*------ Style 1 ------*/
/* #style1 {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    width: 50px;
    height: 25px;
    background-color: transparent;
    border: none;
    cursor: pointer;
  }
  #style1::-webkit-color-swatch {
    border-radius: 5px;
    border: none;
  }
  #style1::-moz-color-swatch {
    border-radius: 5px;
    border: none;
  } */